<div class="container">
    <nav class="menu">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" ><%= link_to "User Information"%></a></li>
          <li><a class="dropdown-item" ><%= link_to "Blogs List"%></a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </nav>

  <article>
    <img src="1.png" alt="" clss ="img">
    <div class="content_block">
      <p>AA</p>
    </div>
  </article>
</div>
